label, input {
    margin: 0;
    padding: 0;
}

.form__content {
    position: relative;
    box-sizing: border-box;
    max-width: 780px;
    min-height: 562px;
    margin: 0 auto;
    background-color: #E5E5E5;
    border: none;
    border-radius: 25px;
    padding: 50px 100px 50px;
}

.form__title {
    font-family: Comfortaa;
    font-weight: bold;
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    color: #FF8A00;
    margin-bottom: 28px;
}

.form__subscription {
    font-family: HelveticaNeueCyr;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;    
    text-align: center;
    line-height: 28px;
    padding-left: 20px;    
    margin-bottom: 20px;
}

.form__add {
    color: #FF8A00;
    font-weight: 550;
}

.form__items {
    list-style: none;
    margin-bottom: 60px;
    padding-left: 19px;
}

.form__item {
    font-family: HelveticaNeueCyr;
    font-style: normal;
    font-weight: 550;
    font-size: 20px;
    line-height: 30px;
    display: inline-block;
    vertical-align: top;
    margin-right: 45px;
}

.form__item:last-child {
    margin-right: 0;
}

.form__phone {
    background-image: url("./../img/call.svg");
    background-repeat: no-repeat;
    padding-left: 35px;
}

.form__email {
    background-image: url("./../img/email.svg");
    background-repeat: no-repeat;
    padding-left: 35px;
}

.form__title-name {
    font-weight: 300;
    font-size: 20px;
    line-height: 30px; 
    text-align: center;
    margin-bottom: 15px;
}

.form__label-input {
    margin-bottom: 108px;
}

.form__label-name {
    font-family: HelveticaNeueCyr;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    box-sizing: border-box;    
    width: 280px;
    display: inline-block;    
    vertical-align: top;
}

.form__label-name:first-child {
    margin-right: 15px;
}

.form__input {
    width: 280px;
    height: 40px;    
    border: none;
}

.form__btn {
    position: absolute;
    right: 100px;
    bottom: 50px;
    width: 80px;
    height: 90px;
    background-image: url("./../img/buttom.png");
    background-repeat: no-repeat;
    background-position-x: center;
    border: none;
    background-color: transparent;
    color: #FF8A00;
    font-weight: 550;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    line-height: 13;
    
}