.banner {
    padding-top: 0;

    &__container {
        position: relative;    
        @include bg-avif-webp("./../img/bg-banner-sara", "png");
        background-repeat: no-repeat;
        background-position: center center; 
        height: 580px;    
        display: flex;
        justify-content: space-between;
    }
    &__title {
        display: inline-block;
        padding-top: 137px;
        font-family: Comfortaa;
        font-style: normal;
        font-weight: 300;
        font-size: 40px;
        line-height: 60px;        
    }
    &__title_color {
        font-size: 60px;
        font-weight: normal;
        color: var(--color-contnet);
    }

    &__btn {
        left: 100px;
        bottom: 25px;   
    }

    &__items {
        padding-top: 100px;
        display: flex;
        flex-direction: column;
        gap: 30px;
        margin-right: 100px;
    }

    &__item {
        width: 180px;
        height: 80px;
        display: flex;
        align-items: center;
        gap: 20px;
        cursor: pointer;
        border: 1px solid transparent;
    }

    &__img {
        z-index: -1;
    }

    &__item:hover {
        border: 1px solid var(--color-contnet);
    }
    
    &__item:active {
        border: 1px solid var(--color-contnet);    
    }
    
    &__item:active .banner__name{
        color: var(--color-contnet);
    }

    &__name {
        font-family: HelveticaNeueCyr;
        font-style: normal;
        font-weight: 300;
        font-size: 20px;
        line-height: 26px;
        color: #282626;    
    }
    
    &__activ {
        display: none;
    }
}
