.btn {
    position: absolute;
    padding: 0;
    width: 180px;
    height: 155px; 
    border: none;
    background-color: transparent;
    font-family: HelveticaNeueCyr;
    font-style: normal;
    font-weight: 550;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    text-transform: uppercase;
    color: var(--color-contnet);
    display: flex;    
    flex-direction: column;
    align-items: center;
    transition: filter .5s;
    @media (max-width: 1200px) {        
        font-size: 12px;
        line-height: 18px;
        width: 148px;
        height: 126px; 
    }

    &__img {
    transition: filter .3s;
        @media (max-width: 1200px) {
        width: 83px;
        height: 80px;
        }
    }

    &:hover,
    &:active {
        filter: drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.25));
    }

    &:hover .btn__img,
    &:active .btn__img {
        filter: drop-shadow(0px -4px 6px var(--color-contnet));
    }


}
