.footer {
    background-color: $bg-footer;
    color: #FFFFFF;

    &__item {
        display: flex;
        justify-content: space-between;
        
        &:first-child {
            margin-bottom: 87px;
            @media (max-width: 1200px) {
                margin-bottom: 50px;
            }
        }
    }

    &__name {
        font-family: Comfortaa;
        font-weight: bold;
        font-size: 40px;
        line-height: 40px;
        padding-top: 64px;
        margin-bottom: 8px;
        @media (max-width: 1200px) {
            padding-top: 33px;
            font-size: 34px;
            line-height: 34px;
            margin-bottom: 10px;
        }
    }

    &__subcription {
        font-weight: 300;
        font-size: 20px;
        line-height: 26px;
        margin-bottom: 22px;
        @media (max-width: 1200px) {
            font-size: 18px;
            line-height: 24px;  
            margin-bottom: 20px;
        }
    }

    &__address {
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 18px;
        margin-bottom: 30px;
        @media (max-width: 1200px) {
            font-size: 14px;
            line-height: 18px;
        }
    
        &-contacts {
            display: flex;
            flex-direction: column;
            gap: 20px;
            font-family: HelveticaNeueCyr;
            font-style: normal;
            font-weight: 550;
            font-size: 20px;
            line-height: 30px;
            @media (max-width: 1200px) {
                font-size: 18px;
                line-height: 24px;
                gap: 10px;
            }
        }
        &-link {
            padding-left: 38px;
            @media (max-width: 1200px) {
                padding-left: 33px;
            }
        }
        &-phone {
            @include bg-full("./../img/call.svg");
            background: {
                size: 24px;
                position: left;
            }            
        }

        &-email {
            @include bg-full("./../img/email.svg");
            background: {
                size: 24px;
                position: left;
            }            
        }
    }

    &__maps {
        width: 680px;
        height: 360px; 
        @media (max-width: 1200px) {
            width: 480px;
            height: 265px;
        }       
    }

    &__logo {
        & picture {
            display: inline-block;
            margin-bottom: 8px;
            @media (max-width: 1200px) {
                margin-bottom: 10px;
                width: 300px;
                height: 37px;
            }
        }
        &-add {
            font-family: HelveticaNeueCyr;
            font-style: normal;
            font-weight: 300;
            font-size: 20px;
            line-height: 26px;
            @media (max-width: 1200px) {
                font-size: 18px;
                line-height: 24px;
            }
        }
    }
        
    
}

.social {
    max-width: 380px;
    &__items {
        display: flex;
        gap: 30px;
        margin-right: 35px;
        margin-bottom: 18px;
        @media (max-width: 1200px) {
            margin-right: 18px;
            margin-bottom: 18px;
        }
    }
}

.autor {
    &__adress {
        font-family: Arial;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
    }
    &__name {
        margin-bottom: 2px;
    }
}

img.footer__logo-img {
    width: 100%;
    height: 100%;
}
    