.footer {
    background-color: $bg-footer;
    color: #FFFFFF;

    &__item {
        display: flex;
        justify-content: space-between;

        &:first-child {
            margin-bottom: 87px;
            @media (max-width: 1200px) {
                margin-bottom: 50px;
            }
            @media (max-width: 840px) {
                flex-direction: column;
                gap: 40px;
                margin-bottom: 39px;
            }
            @media (max-width: 640px) {
                gap: 30px;
            }

        }

        @media (max-width: 640px) {
            flex-direction: column;            
        }
        &:last-child {
            @media (max-width: 640px) {
                gap: 20px;
            }
        }
    }

    &__content {
        @media (max-width: 840px) {
            display: flex;
            justify-content: space-between;
            // margin-bottom: 40px;
        } 
        @media (max-width: 640px) {
            flex-direction: column;
            gap: 20px;
        }
    }

    &__name {
        font-family: Comfortaa;
        font-weight: bold;
        font-size: 40px;
        line-height: 40px;
        padding-top: 64px;
        margin-bottom: 8px;
        @media (max-width: 1200px) {
            padding-top: 33px;
            font-size: 34px;
            line-height: 34px;
            margin-bottom: 10px;
        }
        @media (max-width: 840px) {
            padding-top: 0;
            margin-bottom: 10px;            
        }
        @media (max-width: 640px) {
            font-size: 24px;
            line-height: 30px;
            margin-bottom: 4px;
        }
    }

    &__subcription {
        font-weight: 300;
        font-size: 20px;
        line-height: 26px;
        margin-bottom: 22px;
        @media (max-width: 1200px) {
            font-size: 18px;
            line-height: 24px;  
            margin-bottom: 20px;
        }
        @media (max-width: 640px) {
            font-size: 14px;
            line-height: 20px;
            margin-bottom: 14px;
        }
    }

    &__address {
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 18px;
        margin-bottom: 30px;
        @media (max-width: 1200px) {
            font-size: 14px;
            line-height: 18px;
        }
        @media (max-width: 840px) {
            margin-bottom: 0;
        }
        @media (max-width: 640px) {
            font-size: 14px;
            line-height: 18px;
        }
    
        &-contacts {
            display: flex;
            flex-direction: column;
            gap: 20px;
            font-family: HelveticaNeueCyr;
            font-style: normal;
            font-weight: 550;
            font-size: 20px;
            line-height: 30px;
            @media (max-width: 1200px) {
                font-size: 18px;
                line-height: 24px;
                gap: 10px;
            }
            @media (max-width: 840px) {
                margin-right: 33px;
                padding-top: 48px;
            }
            @media (max-width: 640px) {
                margin-right: 0px;
                padding-top: 0;
                
            }
        }
        &-link {
            padding-left: 38px;
            transition: color .5s;            
            @media (max-width: 1200px) {
                padding-left: 33px;
            }
            &:hover {
                color: $hover-social;
            }
        }
        &-phone {
            @include bg-full("./../img/call.svg");
            background: {
                size: 24px;
                position: left;
            }            
        }

        &-email {
            @include bg-full("./../img/email.svg");
            background: {
                size: 24px;
                position: left;
            }            
        }
    }

    &__maps {
        width: 680px;
        height: 360px; 
        @media (max-width: 1200px) {
            width: 480px;
            height: 265px;
        }
        @media (max-width: 840px) {
            order: 1;
            width: 700px;
            height: 265px;
            margin: 0 auto;
        }
        @media (max-width: 768px) {            
            width: 100%;
        }
        @media (max-width: 640px) {
            height: 180px;
        }
    }

    &__logo {
        & picture {
            display: inline-block;
            margin-bottom: 8px;
            @media (max-width: 1200px) {
                margin-bottom: 10px;
                width: 300px;
                height: 37px;
            }
            @media (max-width: 640px) {
                width: 200px;
                height: 25px;
                margin-bottom: 4px;
            }
        }
        &-add {
            font-family: HelveticaNeueCyr;
            font-style: normal;
            font-weight: 300;
            font-size: 20px;
            line-height: 26px;
            @media (max-width: 1200px) {
                font-size: 18px;
                line-height: 24px;
            }
            @media (max-width: 640px) {
                font-size: 14px;
                line-height: 20px;
            }
        }
    }
        
    
}

.social {
    max-width: 380px;
    &__items {
        display: flex;
        gap: 30px;
        margin-right: 35px;
        margin-bottom: 18px;
        @media (max-width: 1200px) {
            margin-right: 18px;
            margin-bottom: 18px;
        }
        @media (max-width: 640px) {
            margin-right: 0;
            margin-bottom: 20px;
            gap: 13px;
        }
    }
}

.autor {
    &__adress {
        font-family: Arial;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        @media (max-width: 640px) {
            font-size: 8px;
            line-height: 12px;
        }
    }
    &__name {
        margin-bottom: 2px;
    }
}

img.footer__logo-img {
    width: 100%;
    height: 100%;
}

.social__net path {
    transition: fill .9s;
}

.social__net:hover path,
.social__net:active path {
    fill: $hover-social;
}