.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 21px;
    margin-bottom: 27px;
}

.menu-burger{    
    position: relative;
    widows: 40px;
    height: 21px;
}

.menu-burger__svg:hover {
    opacity: .5;
}

.menu-burger__svg:active {
    opacity: 1;
}

.menu-burger__btn {
    border: none;
    background-color: transparent;
}

.menu-burger__svg {
    margin-bottom: 15px;
}

.menu-burger__svg_close {
    display: none;
}

.menu-burger__nav {
    display: none;
    position:absolute;
    top: 45px;
    left: 0;
    width: 394px;
    height: 421px;
    padding: 27px 0 0 0;    
    z-index: 1;  
    @media (max-width: 1200px) {
        width: 349px;
        height: 347px;
    }
    @media (max-width: 1000px) {
        width: 349px;
        height: 415px;
    }
    @media (max-width: 640px) {
        padding: 0;
        left: -20px;
        width: 297px;
        height: 326px;
    }
}
.menu-burger__nav:before {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    @include bg-full("./../img/polygon.png");    
    display: block;
    width: 52px;
    height: 30px;    
    z-index: -1;
    @media (max-width: 640px) {
        display: none;
    }    
}

.menu-burger__items {
    width: 100%;
    height: 394px;
    padding: 56px 40px 0 20px;
    background: var(--bg);
    border-bottom: 10px solid var(--color-contnet);
    @media (max-width: 1200px) {
        padding: 40px 20px 0;
        height: auto;
    }
    @media (max-width: 1000px) {
        padding: 40px 20px 0;
        height: 388px;
    }
    @media (max-width: 640px) {
        padding: 0;
        width: 100%;
        height: 326px;
    }
}

.menu-burger__item {    
    
    border-bottom: 1px solid var(--color-contnet);
    padding: 10px 0 20px 20px
}

.menu-burger__item:nth-child(5) {
    border-bottom: none;
}

.menu-burger__item:last-child {
    border-bottom: none;
}

.menu-burger__link {
    font-family: HelveticaNeueCyr;    
    font-weight: 550;
    font-size: 20px;
    line-height: 30px;
    color: #282626;
    @media (max-width: 1200px) {
        font-size: 18px;
        line-height: 24px;
    }
    @media (max-width: 640px) {
        font-size: 14px;
        line-height: 20px;
    }
}

.logo__img {
    @media (max-width: 1200px) {
        width: 300px;
        height: 59px;
    }
    @media (max-width: 640px) {
        width: 161px;
        height: 32px;
    }
}

.contacts{
    font-family: HelveticaNeueCyr, Helvetica, Arial, sans-serif;
    font-weight: 550;
    font-size: 20px;
    line-height: 30px;
    color: #282626;
    @include bg-full("./../img/call.svg");    
    background-position: left center;
    background-size: 24px;    
    padding-left: 38px;

    @media (max-width: 840px) {
        display: none;
    }
}

.menu-burger__contacts {
    display: none;
    @media (max-width: 840px) {
        display: block;
        font-size: 18px;
        line-height: 24px;
        margin-left: 17px;
        background-size: 24px;
        padding: {
            top: 10px;
            bottom: 0;
        }        
    }
    @media (max-width: 640px) {
        font-size: 14px;
        line-height: 20px;
        padding-top: 0;
    }
}