
.my-project__container{
    padding-top: 90px;
    padding-bottom: 90px;
}

.my-project__title {
    line-height: 60px;
    margin-bottom: 50px;
}

.my-project__grid-items {
    display: grid;
    grid-template-columns: 680px 380px;
    justify-content: space-between;
}

.my-project__items {
    display: grid;
    grid-template: repeat(4, 1fr) / 100%;
    gap: 30px;
}

.my-project__item {
    display: grid;
    grid-template-columns: 280px auto;
    grid-template-rows: repeat(3, auto);
    grid-template-areas: 
        "img content1"
        "img content2"
        "img content3";
    gap: 0 18px;
}

.my-project__picture {
    grid-area: img; 
}

.my-project__name {
    font-weight: 550;
    font-size: 30px;
    line-height: 40px;
    grid-area: content1; 
}

.my-project__subscription {
    font-family: HelveticaNeueCyr;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;    
    grid-area: content2; 
}

.my-project__link{
    font-family: HelveticaNeueCyr;
    @include bg-avif-webp("./../img/bi_arrow-right", "png");
    // background-image: url("./../img/bi_arrow-right.png");
    background-repeat: no-repeat;
    background-size: 29px;
    background-position: top left 125px;    
    font-weight: 550;
    font-size: 20px;
    line-height: 26px;
    color: var(--color-contnet);
    grid-area: content3; 
}


.my-project__item-2 {
    display: grid;
}
.my-project__content-1 {
    width: 100%;
    height: 450px;
    @include bg-avif-webp("./../img/content", "jpg");
    // background-image: url("./../img/content.jpg");
    background-repeat: no-repeat;
    padding: 293px 10px 0 10px;
    margin-bottom: 52px;
}
.my-project__name_content{    
    color: #FFFFFF;
}

.my-project__link_item-2 {
    display: block;
    text-align: right;
    background-position: right;
    padding-right: 40px;
}

.my-project__name_content-2 {
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 22px;
}

.my-project__content-grid {
    display: grid;
    grid-template: repeat(3, 70px) / repeat(4, 80px);
    gap: 20px;
}