.banner__container {
    position: relative;
    background-image: url("./../img/bg-banner-sara.png");
    background-repeat: no-repeat;
    background-position: center center; 
    height: 580px;
    margin-bottom: 90px;
    display: flex;
    justify-content: space-between;
}

.banner__title {
    padding-top: 137px;
    font-family: Comfortaa;
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    line-height: 60px;    
    white-space: pre-line;    
}

.banner__title_color {
    font-size: 60px;
    font-weight: normal;
    color: var(--color-contnet);
}

.banner__btn {
    left: 100px;
    bottom: 25px;   
}

.banner__items {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-right: 100px;
}

.banner__item {
    width: 180px;
    height: 80px;
    display: flex;
    align-items: center;
    gap: 20px;
    cursor: pointer;
    border: 1px solid transparent;
}

.banner__img {
    z-index: -1;
}

.banner__item:hover {
    border: 1px solid var(--color-contnet);
}

.banner__item:active {
    border: 1px solid var(--color-contnet);    
}

.banner__item:active .banner__name{
    color: var(--color-contnet);
}

.banner__name {
    font-family: HelveticaNeueCyr;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 26px;
    color: #282626;    
}

.banner__activ {
    display: none;
}