.present {
    background-color: var(--bg);
}

.present__container {
    position: relative;
    padding: 90px 0;
    background-image: url("./../img/bg-dog-about.jpg");
    background-repeat: no-repeat;
    background-size: 580px 330px;
    background-position: right;
}

.present__title {
    text-align: left;
    color: #282626;
    margin-bottom: 33px;
}

.present__discription {
    font-family: HelveticaNeueCyr;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    color: #282626;
}

.present__news {
    position: absolute;
    right: 19px;
    bottom: 35px;
    font-family: HelveticaNeueCyr;
    font-style: normal;
    font-weight: 550;
    font-size: 20px;
    line-height: 26px;
    color: var(--color-contnet);
    background-image: url("./../img/bi_arrow-right.png");
    background-repeat: no-repeat;
    background-size: 29px;    
    background-position: right;
    padding-right: 48px;
}